* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header__nav .header__nav-list-item, .header__author-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 80px;
  padding: 14px 0;
  background: #000000;
  color: #ffffff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  position: relative;
  width: 82px;
  margin-right: 63px;
  padding: 3.5px 5px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}
.header__logo .logo__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
}
.header__logo .logo__image {
  position: absolute;
  left: 10px;
  bottom: 7px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}
.header__nav .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 58px;
}
.header__author-info {
  margin: auto;
  cursor: pointer;
}

.welcome {
  min-height: 100vh;
  background: url("../../assets/images/header_bg.png") no-repeat center/cover;
}

.app {
  height: inherit;
}

.main {
  height: 100%;
}