@mixin flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin h1_font_style {
  font-weight: 700;
  font-size: 106px;
  line-height: 75%;
}

@mixin h2_font_style {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
}

@mixin h3_font_style {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
}
