@use "../global" as *;

.swiper {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}

.swiper-slide {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}
.swiper-scrollbar {
  display: none;
}
.swiper-button {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: $orangeGrad;
  background-size: 200% 200%;
  top: 43%;

  &:hover {
    animation: animate-hover-effect 280ms ease forwards;
  }

  &:active {
    animation: animate-click-effect 280ms ease forwards;
  }

  &.swiper-button-prev {
    left: -70px;

    &::after {
      content: "\2190";
      line-height: initial;
      color: $white;
      font-size: 16px;
    }
  }

  &.swiper-button-next {
    right: -70px;

    &::after {
      content: "\2192";
      line-height: initial;
      color: $white;
      font-size: 16px;
    }
  }
}

@include hover-link-animation;
@include active-link-animation;
